@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
/* .container{
  padding-top: 1.25rem;
padding-bottom: 1.25rem; 
padding-left: 5rem;
padding-right: 5rem; 
margin-top: 1rem; 
max-width: 768px; 
height: fit-content; 
background-image: background-image: linear-gradient(to bottom right, var(--tw-gradient-stops)); 
background-color: #1D4ED8; 
box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 

} */
